.container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileImage {
  background-color: darkgrey;
  border-radius: 50%;
}

.profileList {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.profileList span {
  margin-left: 15px;
  font-weight: bold;
}

.profileItem:nth-child(-n + 1) span {
  margin-left: 0;
}

.profileItem {
  display: flex;
  flex-direction: column;
}
